@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #040303;
    --background-light: #232222;
    --foreground-white: #ffffff;
    --foreground-grey: #888888;
    --foreground-dark: #464646;
}

html {
    min-width: 420px;
}

html::-webkit-scrollbar {
    width: 4px;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    border: 3px solid var(--foreground-dark);
}
