@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #040303;
    --background-light: #232222;
    --foreground-white: #ffffff;
    --foreground-grey: #888888;
    --foreground-dark: #464646;
    --scrollbar-width: 4px;
}

html {
    overflow-y: scroll;
    scrollbar-gutter: stable;
    padding-right: var(--scrollbar-width);
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    border: 3px solid var(--foreground-dark);
}

body {
    overflow-x: hidden;
    width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--foreground-white);
}
